.rainbow-autocomplete-results {
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rainbow-autocomplete-result {
    padding: 3px 6px;
    cursor: pointer;
}

.rainbow-autocomplete-result:hover {
    background-color: #eee;
}